server:
  port: 8084

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/ems
    username: ${DB_USER:root}
    password: ${DB_PASS:root}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    user:
      name: disabled
      password: disabled

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:service-registry}:8761/eureka/
