server:
  port: 8083

spring:
  application:
    name: department-service
  datasource:
    url: jdbc:mysql://localhost:3306/department_db?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
