server:
  port: 8083

spring:
  application:
    name: department-service

  spring:
  datasource:
    url: jdbc:mysql://mysql:3306/ems
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka
