server:
  port: 8082

spring:
  application:
    name: department-service
  datasource:
    url: jdbc:mysql://localhost:3307/ems
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:service-registry}:8761/eureka
